<div class="w-6/12 h-full flex flex-wrap items-center justify-center content-center">
    <div class="w-8/12 h-auto flex flex-wrap gap-2">
        <div class="w-full font-black text-5xl text-gray-600">
            You design, we build
        </div>
        <div class="w-full font-normal text-sm text-gray-500">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem maxime soluta dolore ex! Temporibus totam maiores quidem, suscipit debitis illum rerum ipsam iusto, fugiat voluptatem consequuntur nesciunt dolorum. Quae, possimus!
        </div>
        <div class="w-full">
            <button [routerLink]="['/setup']" class="min-w-64 bg-primary-default text-white px-4 py-2 rounded-full">Get start</button>
        </div>
    </div>
</div>
<div class="w-6/12 h-full bg-primary-default"></div>
<div class="w-full absolute flex items-center justify-start top-0 right-0 p-8">
    <app-logo></app-logo>
</div>