<div [id]="id()" #container class="w-full h-full relative">
    <div #leftHandle class="w-2 h-4 rounded-full bg-primary-light absolute top-[50%] translate-y-[-50%] -left-1 cursor-move"></div>
    <div #rightHandle class="w-2 h-4 rounded-full bg-primary-light absolute top-[50%] translate-y-[-50%] -right-1 cursor-move"></div>
    <div #topHandle class="w-4 h-2 rounded-full bg-primary-light absolute -top-1 right-[50%] translate-x-[-50%] cursor-move"></div>
    <div #bottomHandle class="w-4 h-2 rounded-full bg-primary-light absolute -bottom-1 right-[50%] translate-x-[-50%] cursor-move"></div>
</div>